<html>

<head>

    <title>#PunkMoney</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    
    <!-- JavaScript -->
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/js/dropdown.js" type="text/javascript"></script>
    <script src="/static/js/slidedown.js" type="text/javascript"></script>
    <script src="/static/js/ticker.js" type="text/javascript"></script>
    
    {% block javascript %}
    {% endblock %}
    
</head>

<body>

    <div id="toolbar">
    
        <div id="toolbar_menu">
        
            &nbsp;
            
            <h4 style="display:inline; top:9px; position:relative;"><a href="/">
                <b>#PunkMoney</b></a>&nbsp; 
            </h4>
                
            <h4 style="display:inline; top:9px; position:relative;">| &nbsp; 
            </h4>
            
            <h4 style="display:inline; top:9px; position:relative;">
                <span id="print">Printer</a> &nbsp;
            </h4>
            
            <h4 style="display:inline; top:9px; position:relative;">
                <a href="/tracker">Wallet</a> &nbsp;
            </h4>
            
            <h4 style="display:inline; top:9px; position:relative;">
                <a href="/trustnet">Network </a> &nbsp;
            </h4>

        </div>
        
        <div id="toolbar_logo">
        
            {% if user.is_authenticated %}
            
            <div class="dropdown">
        
                <a class="account">
                    <h4 style="display:inline; bottom:3px; position:relative;">@{{user}}</h4>
                    <h4 style="display:inline; bottom:3px; position:relative;">&nbsp;|&nbsp;</h4>
                    <img width="25px" style="display:inline; top:5px; position:relative;" src="/static/img/profile_images/{{user}}.png"> 
                    <p style="display:inline; bottom:3px; position:relative;">&#9660;</p>
                </a>
    
                <div class="submenu" style="display: none; ">
                    <ul class="root">
                        <li><a href="/logout">Settings</a></li>
                        <li><a href="/user/{{user}}">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                
            </div>
            
            {% endif %}
        
        </div>
    
    </div>
    
    <!-- Printer -->
    
    <div id="printer">
        <div id="printer_form">
            <h3 style="display:inline">
                <input id="recipient" style='display:inline' type="text" maxlength="20" size="20" placeholder="@recipient" value="@">
            </h3>
            <h3 id="printer" style="display:inline">                
                I promise 
                <input id="promise" type="text" maxlength="55" size="50" placeholder="one party hat <;-)" id="promise">
            </h3>
        </div>
    </div>
    
    <!-- CONTAINER -->
    
    <div class="container">
    
        <!-- TRACKER -->
    
    	<div id="main" class="span-19 prepend-2 last">
    	
            <hr class="space">

    		{% block main %}
    		{% endblock %}
    		
        </div>
    
        <!-- FOOTER -->
        
        <div id="footer">
        
            <hr>
            
    		<p class="footer">#PunkMoney 0.25 by <a href="http://www.webisteme.com">webisteme</a> | 
    		<a href="http://wiki.punkmoney.org">Wiki</a> |
    		<a href="https://github.com/webisteme/punkmoney">GitHub</a> | 
    		<a href="http://www.facebook.com/punkmoney">Facebook</a> | 
    		<a href="http://www.twitter.com/punk_money">Twitter</a>&nbsp;
    		
    		</p>
    		
    		<hr class="space">
        
        </div>
    
    </div>
    
</body>

</html>
