<html>

<head>
        <title>#PunkMoney</title>
        
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        
		<script type="text/javascript">   
		
		function loadTicker(div, url){

			$.get(url, function(data){

				$(div).html(data);

			});

			timer = setTimeout(function() {loadTicker(url);}, 3000);

		}
		
		function search(){
		
			term = $('input#searchbox').val();
		  
			if (term.charAt(0) == '@'){
				term = term.substring(1);
				}
				
			url = '/search/' + escape(term);
			
			$.get(url, function(data){

				window.location = data;

			});
		}
		
	    </script>
	    
	    <!-- Google analytics -->
	    <script src="/static/js/ganalytics.js" type="text/javascript"></script>
        
        {% block javascript %}
        
        {% endblock %}
        
</head>

<body>

<div class="container">

    <!-- HEADER -->

	<div id="header" class="span-22 prepend-1">
	
		<div id="left" class="span-10">
	
			<a href="/"><img src="/static/punkmoneylogo.png" width="250"></a>
		
		</div>

		<div id="right" class="span-5 prepend-7 last">
			
			<br><br>
			
			<div id="search">
				<img src="/static/search.png" id="search_icon">
				<input type="search" id="searchbox" placeholder="Tag(s) or username" size="25" onchange="javascript:search()">
			</div>

		</div>
		
		<hr>
	
	</div>
	
	<!-- NAVIGATION -->
	
	<div id="nav" class="span-1 prepend-1">
	
		<ui>
		
		<hr class="space">
		
		{% ifequal page 'ticker' %}
	
		<li><b><a href="/tracker">Tracker</a></b></li>
		
		{% else %}
		
		<li><a href="/tracker">Tracker</a></li>
		
		{% endifequal %}
		
		<hr class="space">
		
		{% ifequal page 'printer' %}
	
		<li><b><a href="/print">Printer</a></b></li>
		
		{% else %}
		
		<li><a href="/print">Printer</a></li>
		
		{% endifequal %}
		
		<hr class="space">
		
		{% ifequal page 'help' %}
		
		<li><b><a href="/help">Help</a></b></li>
		
		{% else %}
		
		<li><a href="/help">Help</a></li>
		
		{% endifequal %}
		
		</ui>
	
	</div>
	
	<!-- MAIN -->

	<div id="main" class="span-19 prepend-2 last">
	<hr class="space">
        
		{% block main %}

		{% endblock %}
	
	</div>

    <!-- FOOTER -->
    
    <div id="footer" class="span-22 prepend-1">
    
        <hr>
    
		<p class="footer">#PunkMoney 0.25 by <a href="http://www.webisteme.com">webisteme</a> | 
		<a href="http://wiki.punkmoney.org">Wiki</a> |
		<a href="https://github.com/webisteme/punkmoney">GitHub</a> | 
		<a href="http://www.facebook.com/punkmoney">Facebook</a> | 
		<a href="http://www.twitter.com/punk_money">Twitter</a>&nbsp; 
		</p>
    
    </div>



</div>

</body>


    
</html>
