{% extends 'base.html' %}

{% block main %}

	<div id="left" class="span-15">

    </div>


	<div id="right" class="span-15">
	
<b>Is this real money?</b><br>
#PunkMoney is not money in a traditional sense, because it does not have a standard unit of account. It can however serve as a medium of exchange, as promises can be transferred, and as a store of value. The fact that it is decentralised is not in itself a reason why #PunkMoney should not be considered money; there were many nonpolitical monetary systems in use in Europe and across the Indian Ocean in the Middle Ages. #PunkMoney merely updates this concept for the Twitter age.<br><br>

<b>Is it for gifts, or transactions?</b><br>

#PunkMoney itself is a system for creating promises on Twitter. Whether such promises begin life as a gift, or as payment in a transaction, doesn't matter. It works equally well for either. In that sense, #PunkMoney is more than a gift pledge system, as it can enable other types of value transfer.<br><br>

<b>What happens if someone breaks their promise?</b><br>

#PunkMoney is an honour system, which means promises are accepted and circulated on the basis of the reputation. If someone breaks their promise, this will negatively impact their reputation. A good reputation makes one's promises more likely to be accepted and to circulate, creating a incentive to keep them. (#PunkMoney is admittedly in need of a formal reputation system, which is currently being worked on.)<br><br>

<b>What inspired this project?</b><br>

Around the time of Occupy Wall Street in New York, #PunkMoney was proposed as a way for an ad hoc community to more effectively manage the flow of resources using a semi-formal honour system. #PunkMoney was subsequently worked on in a Starbucks near Liberty Square, in late October 2011. Another influence was David Graeber's book Debt, which discusses gift economies and examples of self-issued credit systems in the Middle Ages, in Europe and China. Yet another was the ongoing financial crisis of 2009-11, and the desire to stick one to the banks by allowing anyone to create their own money.<br><br>

<b>Didn't you rip off the logo?</b><br>

Yes. The logo is based on Banksy's famous flower chucker image. Banksy, a well known British street artist, has publicly denounced copyright (See <a id="press" href="http://file3.status.net/i/identica/p1ng0ut-20121003T224846-9vpbc5s.jpeg">Copyright is for losers &copy;&trade;</a>), and as such, allows his work to be remixed and reused by anybody.<br><br>

<b>How can I get involved?</b><br>

Create #PunkMoney, spread the word, give feedback and suggestions. If you're a coder, feel free to fork the project on <a id="press" href="https://github.com/webisteme/punkmoney">Github.</a> If you want to write about #PunkMoney, get <a id="press" href="mailto:egothill[a]gmail[.]com">in touch.</a>


	</div>




{% endblock %}