{% extends 'base.html' %}


{% block main %}

	<div class="span-15">
	
	<h3><span id="promised">#PunkMoney</span> is money anyone can print on Twitter.</h3>

	<h2>How it works…</h2>

	<h3>Promise</h3>
	
	<p>You print #PunkMoney by tweeting it into existence. For example:</p>
	
	<div id="tweet">@someone I promise you one cold beer. Expires in 1 month. #punkmoney</span></div>
	
	<hr class="space">
	
	<p>#PunkMoney will appear in the <a href="/">ticker</a> no more than a minute later.</p>
	
	
	<p>The easiest way to create #punkmoney is to use the <a href="/print"><b>printer</b></a>. This guarantees the ticker will find it, and is faster than typing it out. If you prefer to do it yourself, the rules are simple enough:</p>
	<ul>
		<li>Your tweet must begin with the Twitter name of the recipient (e.g. <span style="display:inline" id="promise">@someone</span>)</li>
		<li>It must contain the word <span style="display:inline" id="promise">'promise'</span></li>
		<li>It must contain the hashtag <span style="display:inline" id="promise">#punkmoney</span></li>
		<hr class="space">
		
		<p>These parts can be in any order.</p>
		
		<i>Optional:</i>
		<hr class="space">
		<li>You can add an expiry in the format 'Expires in <span id="promise" style="display:inline">[number]</span> <span id="promise" style="display:inline">[minutes/hours/days/months/years]</span>'</li>
		<li>To make a note non-transferable add <span id="promise" style="display:inline">'NT'</span> before the hasthag.</li>
	
	</ul>
	
	<p>If the ticker doesn't find yours within a minute, there was probably a syntax error in it.</p>
	
	<h3>Transfer</h3>
	
	<p>If you've received some #PunkMoney and want to transfer it to someone else, just reply to the original note, or to any existing replies to it, with:</p>
	
	<div id="tweet">@someone transfer @recipient #punkmoney</div>
	
	<p>The rules are:</p>
	
	<ul>
	
	<li>Your tweet must be a reply to the original note, or to another reply to it</li>
	<li>It must contain the word <span id="promise" style="display:inline">transfer</span></li>
	<li>It must contain the username of the recipient, (e.g. <span id="promise" style="display:inline">@recipient</span>)</li>
	<li>It must end with the hashtag <span id="promise" style="display:inline">#punkmoney</a></li>
	
	</ul>
	
	<p>If a note has expired, has already been redeemed or is marked as non-transferable, the transfer won't be acnkowledged by the tracker.</p>
	
	<h3>Redeem</h3>
	
	<p>To redeem a #PunkMoney statement, reply to the original note, or to another reply to it, with</p>
	
	<div id="tweet">@issuer redeemed #punkmoney</div>
	
	<p>The rules:</p>
	
	<ul>
	
	<li>Your tweet must be a reply to the original note, or to another reply to it</li>
	<li>It must contain the word <span id="promise" style="display:inline">redeemed</span></li>
	<li>It must contain the hashtag <span id="promise" style="display:inline">#punkmoney</a></li>
	
	</ul>
	
	<p>If the note is open, and you're its current bearer, the ticker will note the redemption within a minute.</p>
	
	<p>To issue a thank you statement which isn't connected to a promise, simply tweet</p>
	
	<div id="tweet">@someone thanks for the chocolate #punkmoney</div>
	
	<hr class="space">
	
	<h3>Minimised Hashtag</h3>
	
	The tracker also supports the smaller #pmny hashtag.
	
	</div>

{% endblock %}