{% extends 'base.html' %}


{% block main %}

	<div class="span-15">
	
	<h3><span id="promised">#PunkMoney</span> is a promise currency. Anyone can create, transfer or redeem it on Twitter.</h3>

	<h2>How it works…</h2>

	<h3>Promises</h3>
	
	<p>You print #PunkMoney by tweeting it into existence. For example:</p>
	
	<div id="tweet">@someone I promise you one cold beer. Expires in 1 month. #punkmoney</span></div>
	
	<hr class="space">
	
	<p>#PunkMoney will appear in the <a href="/">ticker</a> no more than a minute later.</p>
	
	
	<p>The easiest way to create #punkmoney is to use the <a href="/print"><b>printer</b></a>. This guarantees the ticker will find it, and is faster than typing it out. If you prefer to do it yourself, the rules are simple enough:</p>
	<ul>
		<li>Your tweet must begin with the Twitter name of the recipient (e.g. <span style="display:inline" id="promise">@someone</span>)</li>
		<li>It must contain the word <span style="display:inline" id="promise">'promise'</span></li>
		<li>It must contain the hashtag <span style="display:inline" id="promise">#punkmoney</span></li>
		<hr class="space">
		
		<p>These parts can be in any order.</p>
		
		<i>Optional:</i>
		<hr class="space">
		<li>You can add an expiry in the format 'Expires in <span id="promise" style="display:inline">[number]</span> <span id="promise" style="display:inline">[minutes/hours/days/months/years]</span>'</li>
		<li>To make a note non-transferable add <span id="promise" style="display:inline">'NT'</span> before the hasthag.</li>
	
	</ul>
	
	<p>If the ticker doesn't find yours within a minute, there was probably a syntax error in it.</p>
	
	<h3>Transfers</h3>
	
	<p>If you've received some #PunkMoney and want to transfer it to someone else, just reply to the original note, or to any existing replies to it, with:</p>
	
	<div id="tweet">@someone transfer @recipient #punkmoney</div>
	
	<p>The rules are:</p>
	
	<ul>
	
	<li>Your tweet must be a reply to the original note, or to another reply to it</li>
	<li>It must contain the word <span id="promise" style="display:inline">transfer</span></li>
	<li>It must contain the username of the recipient, (e.g. <span id="promise" style="display:inline">@recipient</span>)</li>
	<li>It must end with the hashtag <span id="promise" style="display:inline">#punkmoney</a></li>
	
	</ul>
	
	<p>Transfers are only allowed to <b><a href="/trustnet">trusted</a></b> users. (Anyone can create and redeem #punkmoney, but transfers are currently limited to existing members.) If a note has expired, has already been redeemed or is marked as non-transferable, the transfer won't be acnkowledged by the tracker.</p>
	
	
	
	<h3>Thanks</h3>
	
	<p>To thank someone after redeeming #PunkMoney, reply to the original note, or to another reply to it, with</p>
	
	<div id="tweet">@issuer thanks #punkmoney</div>
	
	<p>The rules:</p>
	
	<ul>
	
	<li>Your tweet must be a reply to the original note, or to another reply to it</li>
	<li>It must contain the word <span id="promise" style="display:inline">thanks</span></li>
	<li>It must contain the hashtag <span id="promise" style="display:inline">#punkmoney</a></li>
	
	</ul>
	
	<p>If the note is open, and you're its current bearer, the ticker will note the redemption within a minute.</p>
	
	<p>Alternatively, you can thank by favouriting the original tweet. This usually takes the tracker about 45 minutes to acknowledge.</p>
	
	<p>To issue a thank you statement which isn't connected to a promise, simply tweet</p>
	
	<div id="tweet">@someone thanks for the chocolate #punkmoney</div>
	
	<hr class="space">

	<h3>Offers/Needs</h3>
	
	<p>To create an offer, tweet</p>
	
	<div id="tweet">offer guitar lessons #punkmoney</div>
	
	<p>To create a need, tweet</p>
	
	<div id="tweet">need help mowing the lawn #punkmoney</div>
	
	<p>The rules:</p>
	
	<ul>
	
	<li>Your tweet must contain the word 'offer' (or 'need')</li>
	<li>It must contain something you are offering (or needed)</li>
	<li>It must contain the hashtag <span id="promise" style="display:inline">#punkmoney</a></li>
	
	</ul>
		
	<p>To close an offer/need (thus removing it from your profile), reply to the orignal tweet with</p>
	
	<div id="tweet">close offer/need #punkmoney</div>
	
	<hr class="space">
	
	<h3>Record trust</h3>
	
	<p>#PunkMoney maintains a <b><a href="/trustnet">TrustNet</a></b>, which gets updated automatically. The ticker will only acknowledge transfers to users who are in it.</p>
	
	<p>The <b><a href="/trustlist">TrustNet</a></b> is managed collectively by the community. It's used to keep #PunkMoney circulating within a circle of trust, so that issuers know their notes will stay within the community.</p>
	
	<p>To be included, an existing member needs to add you to their own <b>punkmoney-trusted</b> Twitter list. A maximum of 20 users can be added by a single referrer. The tracker will find and add you within 30 minutes. You will then be able to add new users yourself.</p>
	
	</div>

{% endblock %}