{% extends 'base.html' %}


{% block main %}

	<div class="span-15">
	
	<h3>#PunkMoney is a promise currency. Anyone can create, transfer or redeem it on Twitter.</h3>
	
	<h4>30 second tour…</h4>
	

<div style="width:425px" id="__ss_10037774"> <object id="__sse10037774" width="425" height="355"> <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=punkmoney-111105071131-phpapp02&rel=0&stripped_title=30-second-guide-to-punkmoney&userName=punkmoney" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <embed name="__sse10037774" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=punkmoney-111105071131-phpapp02&rel=0&stripped_title=30-second-guide-to-punkmoney&userName=punkmoney" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed> </object> </div>
			

	<hr class="space">

	<h2>The complete guide…</h2>

	<h3>Print it</h3>
	
	<p>You print #PunkMoney by tweeting it into existence. For example:</p>
	
	<div id="tweet">@someone I promise you one cold beer. Expires in 1 month. #punkmoney</span></div>
	
	<hr class="space">
	
	<p>#PunkMoney will appear in the <a href="/">ticker</a> no more than a minute later.</p>
	
	
	<p>The easiest way to create #punkmoney is to use the <a href="/print"><b>printer</b></a>. This guarantees the ticker will find it, and is faster than typing it out. If you prefer to do it yourself, the rules are simple enough:</p>

	<ul>
	
		<li>Your tweet must begin with the Twitter name of the recipient (e.g. <span style="display:inline" id="promise">@someone</span>)</li>
		<li>It must start with <span style="display:inline" id="promise">'I promise'</span></li>
		<li>The <span style="display:inline" id="promise">promise</span> should come immediately after</li>
		<li>It must end with the <span style="display:inline" id="promise">#punkmoney</span> hashtag</li>
		<hr class="space">
		<i>Optional:</i>
		<hr class="space">
		<li>You can add an expiry in the format 'Expires in <span id="promise" style="display:inline">[number]</span> <span id="promise" style="display:inline">[minutes/hours/days/months/years]</span>'</li>
		<li>To make a note non-transferable add <span id="promise" style="display:inline">'NT'</span> before the hasthag.</li>
	
	</ul>
	
	<p>If the ticker doesn't find yours within a minute, there was probably a syntax error.</p>
	
	<h3>Transfer it</h3>
	
	<p>If you've received some #PunkMoney and want to transfer it to someone else, just reply to the original note, or to any existing replies to it, with:</p>
	
	<div id="tweet">@someone transfer @recipient #punkmoney</div>
	
	<p>The rules are:</p>
	
	<ul>
	
	<li>Your tweet must be a reply to the original note, or to another reply to it</li>
	<li>It must contain the word <span id="promise" style="display:inline">transfer</span></li>
	<li>It must contain the username of the recipient, (e.g. <span id="promise" style="display:inline">@recipient</span>)</li>
	<li>It must end with the hashtag <span id="promise" style="display:inline">#punkmoney</a></li>
	
	</ul>
	
	<p>Transfers are only allowed to <b><a href="/trustlist">trusted</a></b> users. (Anyone can create and redeem #punkmoney, but transfers are limited to existing members.) If a note has expired, has already been redeemed or is marked as non-transferable, the transfer won't be accepted by the ticker.</p>
	
	<p>Finally, if you have a syntax error, the ticker won't acknowledge your transfer attempt.</p>
	
	<h3>Redeem it</h3>
	
	<p>To redeem your #PunkMoney contact the person who issued it to you, and ask for a redemption. Once you're satisfied it's been redeemed, you should mark the note off as 'redeemed'.</p>
	
	<p>Reply to the original note, or to another reply to it, with</p>
	
	<div id="tweet">@issuer redeemed #punkmoney</div>
	
	<p>The rules:</p>
	
	<ul>
	
	<li>Your tweet must be a reply to the original note, or to another reply to it</li>
	<li>It must contain the word <span id="promise" style="display:inline">redeemed</span></li>
	<li>It must end with the hashtag <span id="promise" style="display:inline">#punkmoney</a></li>
	
	</ul>
	
	<p>If the note is open, and you're its current bearer, the ticker will note the redemption within a minute.</p>
	
	<h3>Record trust</h3>
	
	<p>#PunkMoney maintains a <b><a href="/trustlist">TrustList</a></b>, which gets updated automatically. The ticker will only acknowledge transfers to users who are in it.</p>
	
	<p>The <b><a href="/trustlist">TrustList</a></b> is managed collectively by the community. It's used to keep #PunkMoney circulating within a circle of trust, so that issuers know their notes will stay within the community.</p>
	
	<p>To be included, an existing member needs to add you to their own <b>punkmoney-trusted</b> Twitter list. A maximum of 20 users can be added by a single referrer. The tracker will find and add you within 30 minutes. You will then be able to add new users yourself.</p>
	
	</div>

{% endblock %}