<html>

<head>
        <title>#PunkMoney</title>
        
        <link rel="stylesheet" href="static/css/blueprint/screen.css" type="text/css">
        <link rel="stylesheet" href="static/css/blueprint/styles.css" type="text/css">
        
        <script src="static/js/jquery.js" type="text/javascript"></script>
        
        
        {% block javascript %}
        
        {% endblock %}
        
</head>

<body>

<!-- Facebook js -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=258408687539551";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">

	<div id="header" class="span-22">
	
		<div id="left" class="span-15">
	
			<a href="/"><img src="/static/punkmoneylogo.png" width="250"></a>
		
		</div>

		<div id="right" class="span-7 last">
		
		
		<p class="search" align="right">
		</p>
		</div>
		
		<hr>
	
	</div>


	<div id="main" class="span-20 prepend-1">
	
		<hr class="space">
		<hr class="space">
	
	    <!-- Slideshare -->
	    
		<div id="left" class="span-9 prepend-1">

    <div style="width:425px" id="__ss_10037774"> <object id="__sse10037774" width="425" height="355"> <param name="movie" value="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=punkmoney-111105071131-phpapp02&rel=0&stripped_title=30-second-guide-to-punkmoney&userName=punkmoney" /> <param name="allowFullScreen" value="true"/> <param name="allowScriptAccess" value="always"/> <embed name="__sse10037774" src="http://static.slidesharecdn.com/swf/ssplayer2.swf?doc=punkmoney-111105071131-phpapp02&rel=0&stripped_title=30-second-guide-to-punkmoney&userName=punkmoney" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="355"></embed> </object> </div>
			
			
			</div>
			
			<br>

	
		<div id="right" class="span-7 prepend-3 last">
		
		
			<a href="/ticker"><h4>Get started &rarr;</h4></a>
			
			<ul>
							
			<li>Track #PunkMoney with the <span id="redemption"><a href="/tracker">tracker</a></span></li>
			
			<hr class="space">
			
			<li>Create some now with the <span id="promised"><a href="/print">printer</a></span></li>

			<hr class="space">
			
			<li>See who's trusted on the <span id="transfer"><a href="/trustlist">trustlist</a></span></li>
			
			<hr class="space">
						
			<li>Find out more in the <span id="expiration"><a href="/help">help</a></span> section</li>	
			
			</ul>
			
			<hr class="space">
			
			<h4>Spread the word</h4>
			
			
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="www.punkmoney.org" data-text="#PunkMoney - Money anyone can print, transfer and redeem on Twitter www.punkmoney.org" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			
			<hr class="space">
			
	<div class="fb-like" data-href="http://www.facebook.com/punkmoney" data-send="false" data-width="450" data-show-faces="false" data-font="arial"></div>
			
		</div>
	
	<hr class="space">
	<hr class="space">
	
	<div class="span-22 prepend-1">
		<h4><span id="promise">Latest news...</span></h4>
		
		<ul>
		    <li>19/03/12 – <a href="http://dowser.org/punkmoney-pilots-an-alternative-currency-using-twitter/">#PunkMoney Pilots an Alternative Currency using Twitter, Dowser</a></li>
		    <li>08/12/11 – #PunkMoney 0.12 deployed at <a href="http://www.punkmoney.org">punkmoney.org</a></li>
			<li>05/11/11 – #PunkMoney 0.11 deployed at <a href="http://www.punkmoney.org">punkmoney.org</a></li>
			<li>29/10/11 – #PunkMoney 0.1 deployed at <a href="http://www.punkmoney.org">punkmoney.org</a></li>
		</ul>
		
	</div>
	
	</div>



	<div id="footer" class="span-22">
	
		<hr>
		
		<p class="footer">#PunkMoney by <a href="http://www.webisteme.com">webisteme</a></p>
	
	</div>


</div>

</body>


    
</html>
