{% extends 'base.html' %}

{% block javascript %}

	<script type="text/javascript">
	
	$('document').ready( function(){
	
		id = $('a#noteid').attr('value')
	
		url = '/ticker/note/' + id;
	
		loadTicker("#ticker",url);
	
	})
	
	</script>
	
{% endblock %}

{% block main %}

    <!-- LEFT COLUMN -->

	<div id="left" class="span-9">
	
    		{% ifequal note.status 0 %}
    	
    		<h3 style='display:inline'><span id="promised">{{ note.promise }}</span></h3>
    		
    		<p style='display:inline'>[OPEN]</p>
    		
    		{% if not note.transferable %}
    		
            [NON-TRANSFERABLE]
    		
    		{% endif %}
    		
    		{% endifequal %}
    		
    		{% ifequal note.status 1 %}
    	
    		<h3 style='display:inline'><span id="redemption">{{ note.promise }}</span></h3>
    		
    		<p style='display:inline'>[REDEEMED]</p>
    		
    		{% endifequal %}
    		
    		{% ifequal note.status 2 %}
    	
    		<h3 style='display:inline'><span id="expiration">{{ note.promise }}</span></h3>
    		
    		<p style='display:inline'>[EXPIRED]</p>
    		
    		{% endifequal %}
    	
    		<hr class="space">
    	
    		<p>Issuer: <b><a href="/user/{{ note.issuer }}">{{ note.issuer }}</a></b> <br>
    		Bearer: <b><a href="/user/{{ note.bearer }}">{{ note.bearer }}</a></b></p>
    		
		<!-- CONDITION -->
		
		{% if note.conditional %}
		
		  Condition: <b>{{ note.conditional }}</b>
		
		{% endif %}
		
		<hr class="space">
    		
		<p>Created: <b>{{ note.created }}</b><br>
		Expiry: <b>{{ note.expiry }}</b></p>
		

	
	</div>
	
	<!-- RIGHT COLUMN -->
	
	<div id="right" class="span-7 prepend-1 last">
	
		<h3><i>"{{ content }}"</i></h3>
		
		<b><a href="/user/{{ note.issuer }}">{{ note.issuer }}</a></b>
		
		<p><a id="noteid" value="{{ note.id }}" href="http://www.twitter.com/{{note.issuer}}/status/{{note.id}}">[{{ note.id }}]</a></p>
		
		<p>
		
		{% ifequal note.status 0 %}
		
		
		
		<a href="https://twitter.com/intent/tweet?in_reply_to={{ note.id }}&status=@{{note.issuer}}%20thanks%20%23punkmoney"><span id="redemption">[Redeemed]</span></a> &nbsp;
		
		
		{% if note.transferable %}
		
        <a href="https://twitter.com/intent/tweet?in_reply_to={{ note.id }}&status=@{{note.issuer}}%20transfer%20@USERNAME%20%23punkmoney"><span id="transfer">[Transfer]</span></a>
		
		{% endif %}  
		
		{% endifequal %}
		</p>

	
	</div>
	
	<div class="span-15">
	
		<hr class="space">
	
		<h4>History</h4>
		
		<div id="ticker"></div>

	
	</div>

{% endblock %}
