{% extends 'base.html' %}

{% block main %}

	<div id="left" class="span-15">

    </div>


	<div id="right" class="span-15">
	
	   <h4>Articles</h4>
	
    	<ul>
    	
    	   <li>
    	       <i>"As technology becomes increasingly central to our day to day existence, there is a countertrend toward the less automated and, some would argue, more human days."</i><br>
    	       <a id="press" href="http://www.barclaycardring.com/t5/Barclaycard-Ring-Public-Blog/Innovation-Corner-The-Real-Time-Machines/ba-p/4280">Innovation Corner: The Real Time Machines</a>, Barclaycard, 2013
            </li><br>
    	
    	   <li>
    	       <i>"We need a system whereas perfect strangers can make deals at a very small transaction cost. For this purpose, people use #PunkMoney."</i><br>
        	   <a id="press" href="http://lemire.me/blog/archives/2012/04/25/punk-money-how-you-can-print-your-own-currency-legally/"> #PunkMoney: How You Can Print Your Own Money… Legally</a>, Daniel Lemire, April 2012
    	   </li><br>
    	
    	   <li>
    	       <i>"Inspired partly by Occupy Wall Street, (…) #PunkMoney is an example of how people can form economic relations without using structures created by government or large corporations."</i><br>
        	   <a id="press" href="http://dowser.org/punkmoney-pilots-an-alternative-currency-using-twitter/">
        	   #PunkMoney Pilots an Alternative Currency using Twitter</a>, Dowser, March 2012
    	   </li><br>
    	
    	   <li>
    	       <i>"Anyone who is seeking alternatives for money in its current form, can easily use the #PunkMoney concept (…) to start exchanging goods/services by using Twitter."</i><br>
        	   <a id="press" href="http://moneyandpayments.simonl.org/2012/10/use-twitter-to-create-banknotes.html"> Use Twitter to Create Banknotes: The #PunkMoney Concept</a>, Simon Leliveldt, October 2012
    	   </li><br>
    	
    	   <li>
    	       <i>"The system allows a user to issue money in a form of favors."</i><br>
    	       <a id="press" href="http://procrastinnovate.tumblr.com/post/21792385970/punkmoney-a-currency-system-for-a-ubiquitous-web"> #PunkMoney: A Currency System For a Ubiquitous Web Society</a>, Daniel Gusev, October 2012
    	   </li><br>
    	
    	   <li>
    	       <i>"It is hoped that #PunkMoney will create a microeconomy within the Twittersphere."</i><br>
    	       <a id="press" href="http://www.mobiquityinc.com/our-ideas/mobiledose/2012/punkmoney-cash-twittersphere"> #PunkMoney: Cash in the Twittersphere</a>, Mobiquity, June 2012
    	   </li><br>
    	   
    	   <li>
    	       <i>"While it is only intended for casual use, it represents a significant movement in a time of low attention and floundering intimacy."</i><br> <a id="press" href="http://www.canvas8.com/public/2012/04/03/punkmoney.html"> #PunkMoney: Trading Promises on Twitter</a>, D-Build (£), April 2012
    	   </li><br>
    	   
    	   <li>
    	       <i>"A transferable promise system, where people exchange Tweet vouchers for goods and services, based on the punk diy ethic."</i><br>
    	       <a id="press" href="http://d-build.org/blog/?p=3036"> #PunkMoney is Bartering in the Twitter Age</a>, D-Build, November 2011
    	   </li>
    	
    	</ul>
    	
    	<h4>Conferences</h4>
    	
    	<ul>
    	
    	   <li>
    	   
    	   <a id="press" href="http://program.ouisharefest.com/event/43552ce927f18faf27ff31f551a3c1ec#.UadmRGTEpk0">OuiShare Fest</a>, Paris, April 2013
    	   
    	   </li><br>
    	
    	   <li>
    	   
    	   <a id="press" href="http://www.sibos.com/conferencedata/pages/session_details_forum.page?sessionID=128">SIBOS</a>, Osaka, October 2012
    	
    	   </li><br>
    	   
    	   <li>
    	
    	   <a id="press" href="http://vimeo.com/39786480">Digital Money Forum</a> (Video), London, March 2012<br>
    	
    	   </li>
    	
    	</ul>
    	
    	
    	<h4>Books</h4>
    	
    	<ul>
    	
    	   <li>
    	   <a id="press" href="http://plutopress.wordpress.com/2013/05/30/introducing-real-life-heretic-1-eli-gothill/">
    	   The Heretic's Guide to Global Finance</a>, Brett Scott, Pluto Press, 2013
    	   
    	   </li>
    	
    	
    	
    	</ul>
    	
		
	</div>




{% endblock %}