{% extends 'base.html' %}

{% block main %}

	<div id="left" class="span-15">

    </div>


	<div id="right" class="span-15">
	
	   <h4>Articles</h4>
	
    	<ul>
    	
    	   <li>
    	       <a id="press" href="http://networkcultures.org/wpmu/moneylab/2014/03/27/eli-gothill-from-the-muslim-trade-routes-to-twitters-punkmoney/">From the Muslim Trade Routes to Twitter’s #PunkMoney</a>, Institute of Network Cultures, March 2014
    	   
    	   </li>
    	
    	   <br>
    	
    	
    	   <li>
    	       <a id="press" href="http://www.barclaycardring.com/t5/Barclaycard-Ring-Public-Blog/Innovation-Corner-The-Real-Time-Machines/ba-p/4280">Innovation Corner: The Real Time Machines</a>, Barclaycard, 2013
            </li><br>
    	
    	   <li>
        	   <a id="press" href="http://lemire.me/blog/archives/2012/04/25/punk-money-how-you-can-print-your-own-currency-legally/"> #PunkMoney: How You Can Print Your Own Money… Legally</a>, Daniel Lemire, April 2012
    	   </li><br>
    	
    	   <li>
        	   <a id="press" href="http://dowser.org/punkmoney-pilots-an-alternative-currency-using-twitter/">
        	   #PunkMoney Pilots an Alternative Currency using Twitter</a>, Dowser, March 2012
    	   </li><br>
    	
    	   <li>
        	   <a id="press" href="http://moneyandpayments.simonl.org/2012/10/use-twitter-to-create-banknotes.html"> Use Twitter to Create Banknotes: The #PunkMoney Concept</a>, Simon Leliveldt, October 2012
    	   </li><br>
    	
    	   <li>
    	       <a id="press" href="http://procrastinnovate.tumblr.com/post/21792385970/punkmoney-a-currency-system-for-a-ubiquitous-web"> #PunkMoney: A Currency System For a Ubiquitous Web Society</a>, Daniel Gusev, October 2012
    	   </li><br>
    	
    	   <li>
    	       <a id="press" href="http://www.mobiquityinc.com/our-ideas/mobiledose/2012/punkmoney-cash-twittersphere"> #PunkMoney: Cash in the Twittersphere</a>, Mobiquity, June 2012
    	   </li><br>
    	   
    	   <li>
    	       <a id="press" href="http://www.canvas8.com/public/2012/04/03/punkmoney.html"> #PunkMoney: Trading Promises on Twitter</a>, Canvas8 (£), April 2012
    	   </li><br>
    	   
    	   <li>
    	       <a id="press" href="http://d-build.org/blog/?p=3036"> #PunkMoney is Bartering in the Twitter Age</a>, D-Build, November 2011
    	   </li>
    	
    	</ul>
    	
    	<h4>Conferences</h4>
    	
    	<ul>

    	   <li>
    	   
    	   <a id="press" href="https://www.youtube.com/watch?v=X9DsdeYhIaE">Moneylab</a>, Amsterdam, March 2014
    	   
    	   </li><br>
    	       	
    	   <li>
    	   
    	   <a id="press" href="https://www.youtube.com/watch?v=X9DsdeYhIaE">OuiShare Fest</a>, Paris, April 2013
    	   
    	   </li><br>
    	
    	   <li>
    	   
    	   <a id="press" href="http://www.sibos.com/conferencedata/pages/session_details_forum.page?sessionID=128">SIBOS</a>, Osaka, October 2012
    	
    	   </li><br>
    	   
    	   <li>
    	
    	   <a id="press" href="http://vimeo.com/39786480">Digital Money Forum</a> (Video), London, March 2012<br>
    	
    	   </li>
    	
    	</ul>
    	
    	
    	<h4>Books</h4>
    	
    	<ul>
    	
    	   <li>
    	   <a id="press" href="http://suitpossum.blogspot.co.uk/p/the-heretics-guide.html">
    	   The Heretic's Guide to Global Finance</a>, Brett Scott, Pluto Press, 2013
    	   
    	   </li>
    	
    	
    	
    	</ul>
    	
		
	</div>




{% endblock %}