
{% for event in events %}
	
		<p>

		<span>
		
		{% ifequal event.type 0 %}
		<span id="promised">[ P ]</span> {{ event.timestamp|date:"M d G:i" }} 
		
		<span>
		
		<b><a href="/user/{{ event.from_user }}">{{ event.from_user }}</a></b> 
		
		promised</span> 
		
		<b><a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b>
		
		<span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span>. 
		{% endifequal %}
		
		
		
		
        {% ifequal event.type 3 %}
		<span id="Transfer">[ T ]</span> {{ event.timestamp|date:"M d G:i" }}<span><b> <a href="/user/{{ event.from_user }}">{{ event.from_user }}</a></b> transferred <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span> to <b><a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b>. 
		{% endifequal %}
		
		{% ifequal event.type 1 %}
		<span id="Redemption">[ R ]</span> {{ event.timestamp|date:"M d G:i" }} <span> <b><a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b> redeemed <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span> from <b><a href="/user/{{ event.from_user }}">{{ event.from_user }}</a></b>.
		{% endifequal %}
		
		{% ifequal event.type 2 %}
		<span id="Expiration">[ X ]</span> {{ event.timestamp|date:"M d G:i" }} <span> <b><a href="/user/{{ event.from_user }}">{{ event.from_user }}</a>'s</b> promise of <span id="promise"><a href="/note/{{ event.note_id }}">{{ event.promise }}</a></span> to <b><a href="/user/{{ event.to_user }}">{{ event.to_user }}</a></b> expired.
		{% endifequal %}
		
		<a href="/note/{{ event.note_id }}">[&rarr;]</a>
		
		</p>
	
{% endfor %}
