{% extends 'base.html' %}


{% block javascript %}

	<script type="text/javascript">
	
	$('document').ready( function(){
	
		loadTicker('/ticker/');
	
	})
	
	function changeTicker(url, type){
	
		clearTimeout(timer);

		$.get(url, function(data){

			$("#ticker").html(data);
			
			title = 'Latest ' + type;
			
			$("h3#title").html(title);

		});
		
		timer = setTimeout(function() {loadTicker(url);}, 3000);
	}

    
	</script>

{% endblock %}

{% block main %}

		<h3 id="title" style='display:inline'> Latest activity </h3>
		
		<i style='display:inline'>(Updates once per minute.)</i> <br />
		
		<div id="welcome">
			<span id="expiration">New to #PunkMoney? Find out more <b><a href="/help">here.</a></b></span>
		</div>
		
		<span id="controls" style:'display:inline'>
		
			<a href="javascript:changeTicker('/ticker/', 'activity')">[ All ]</a>
			
			<a href="javascript:changeTicker('/ticker/type/0', 'promises')"><span id="promised">[ P ]</span></a>
			<a href="javascript:changeTicker('/ticker/type/3', 'transfers')"><span id="transfer">[ T ]</span></a>
			<a href="javascript:changeTicker('/ticker/type/1', 'redemptions')"><span id="redemption">[ R ]</span></a>
			<a href="javascript:changeTicker('/ticker/type/2', 'expirations')"><span id="expiration">[ X ]</span></a>

		</span>
		
		
		<br />
		
	
		<div id="ticker">
		
		
		
		</div>

{% endblock %}