<!DOCTYPE html>
{% extends 'base.html' %}

    {% block javascript %}

    <script type="text/javascript" src="/static/d3/d3.v2.js"></script>
    
    <style type="text/css">
        
    circle.node {
      stroke: #fff;
      stroke-width: 1.5px;
    }
    
    line.link {
      stroke: #999;
      stroke-opacity: .6;
    }
    
    div#chart{
        float:left:
        position:relative;
    }
    
    
    div#user {
        float:left;
        position:relative;
    }

    </style>
    
    {% endblock %}
  
  {% block main %}
  
  
    <div id="chart" class="span-11"></div>
    
    <div id="user" class="span-6">
    
        <hr class="space">
        
    <h3>Network</h3>

    <p><span id="promised">This map represents gratitude between #PunkMoney users.</span></p>

    <li># <b>Mouse over</b> a user to see their name.</li><hr class="space">
    <li># <b>Click</b> on a user to learn more about them.</li><hr class="space">
    
    <p>To appear on the list you need to <span id ="redemption">thank</span> or <span id="redemption">be thanked</span> by someone.</p>
    
    </div>

    

    <script type="text/javascript">
    
    var width = 400,
        height = 370;
    
    var color = d3.scale.category20();
    
    var force = d3.layout.force()
        .charge(-120)
        .linkDistance(30)
        .size([width, height]);
    
    var svg = d3.select("#chart").append("svg")
        .attr("width", width)
        .attr("height", height);
    
    d3.json("/graph", function(json) {
      force
          .nodes(json.nodes)
          .links(json.links)
          .start();
    
      var link = svg.selectAll("line.link")
          .data(json.links)
          .enter().append("line")
          .attr("class", "link")
          .style("stroke-width", function(d) { return Math.sqrt(d.value); });
    
      var node = svg.selectAll("circle.node")
          .data(json.nodes)
          .enter().append("circle")
          .attr("class", "node")
          .attr("r", function(d) { return karma(d); })
          .style("fill", '#3366CC')
          .call(force.drag)
          
     
            
     node.on("click", function(d) { 

        $.get("/user_info/" + d.name, function(data){

			$("#user").html(data);

		});
        
      });
    
      node.append("title")
          .text(function(d) { return d.name; });
    
      force.on("tick", function() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
    
        node.attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
      });
    });
    
    
    function user_info(username){
        
        $.get("/user_info/" + username, function(data){

			$("#user").html(data);

		});
    
    
    }
    
    function karma(d){
    
        return d.karma / 10;
    }
    
    function nodeColour(d){
    
        if (d.group >= 8){
            return '#000066'; 
        }
        
        if (8 > d.group >= 6){
            return '#0033CC'; 
        }
        
        if (6 > d.group >= 4){
            return '#0066CC'; 
        }
        
        if (4 > d.group >= 2){
            return '#0099FF'; 
        }
        
        if (2 > d.group >= 0){
            return '#00CCFF'; 
        } 
    }

    </script>
    
    
 
 {% endblock %}
