<script type="text/javascript">   

function loadTicker(div, url){

	$.get(url, function(data){

		$(div).html(data);

	});

	timer = setTimeout(function() {loadTicker(url);}, 3000);

}

    url = '/ticker/max/4/user/{{ username }}/type/1';
    loadTicker("#ticker", url);

</script>


<a target=blank href="/user/{{ username }}">
    <img style="padding-right:5px;" width="50" align="left" src="https://api.twitter.com/1/users/profile_image/{{ username }}">
</a>

<span id="expiration"><h3 style='display:inline'><a target="blank" href="/user/{{ username }}">{{ username }}</a></h3></span>

<h4 style="display:inline">({{ karma }})</h3>

<br>

<hr class="space">

<div id="ticker"></div>

<p align="right"><span id="promise"><a href="/user/{{ username }}">See all [&rarr;]</a></span></p>