{% extends 'base.html' %}


{% block javascript %}

	<script type="text/javascript">

	$('document').ready( function(){

		loadRecent();
        
	})
	
	function loadRecent(){
	
		url = '/ticker/max/10/user/{{ username }}';
		loadTicker("#ticker", url);
	
	}
	
	function load(code){
	
	    url = '/ticker/max/10/user/{{ username }}/type/' + code;
		loadTicker("#ticker", url);
		
		/*
		needs = '/ticker/max/10/user/{{ username }}/type/5';
		loadTicker("#needs", needs);
		
		redemptions = '/ticker/max/10/user/{{ username }}/type/1';
		loadTicker("#redemptions", redemptions);
		*/
	
	}


	</script>

{% endblock %}


{% block main %}

<a target=blank href="http://www.twitter.com/{{ username }}">
    <img style="padding:5px;" width="50" align="left" src="https://api.twitter.com/1/users/profile_image/{{ username }}">
</a>
<span id="expiration"><h3 style='display:inline'><a target="blank" href="http://www.twitter.com/{{ username }}">{{ username }}</a></h3></span><h4 style='display:inline'> ({{ karma }})</h3><br>

<hr class="Space">
<hr class="Space">


<a href="javascript:loadRecent()">[ All ]</a>&nbsp;
<a href="javascript:load(0)"><span id="promised">[ Promises ]</span></a>&nbsp;
<a href="javascript:load(1)"><span id="redemption">[ Thanks ]</span></a>&nbsp;
<a href="javascript:load(4)"><span id="offer">[ Offers ]</span></a>&nbsp;
<a href="javascript:load(5)"><span id="need">[ Needs ]</span></a>&nbsp;
<hr>


<div id="ticker"></div>

<!--

{% if notes_issued %}

<span><h4>Notes issued</h4></span>

    {% for note in notes_issued %}
    
    	<p>
    
    	<span id="promised">[ P ]</span> {{ note.created|date:"M d G:i" }} promised <b><a href="/user/{{ note.bearer }}">{{ note.bearer }}</a></b>  <a href="/note/{{ note.id }}"> <span id="promise">{{ note.promise }}</span> [&rarr;]</a>
    	
    	</p>
    	
    	
    {% endfor %}

{% endif %}

<hr class="Space">

{% if notes_held %}

<span><h4>Notes held</h4></span>

{% for note in notes_held %}

	<p>

	<span id="promised">[ P ]</span> {{ note.created|date:"M d G:i" }} <b> <a href="/user/{{ note.issuer }}">{{ note.issuer }}</a></b> promised <span id="promise">{{ note.promise }}</span><a href="/note/{{ note.id }}"> [&rarr;]</a>

	</p>

{% endfor %}

{% endif %}

-->


{% endblock %}