body, html {
    margin:0;
    padding:0;
    color:#000;
    background:white;
}

.container {
    position:relative;
    top:30px;
}

div#main {
    min-height: 400px;
}

/* Home page */

div#news {
    position:relative;
    top:30px;
}

div#footer {
    position:relative;
    top:40px;
}

#press {
    font-weight: bold;    
}

/* CONTROLS */

span#controls {
	position:relative;
	z-index:5;
	right:24px;
	float:right;
}

/* SPAN COLOURS */

span#promise {
	background-color: #f0f0f0;
}

span#promised {
	background-color: #dbf5ff;
}

span#transfer {
	background-color: #fde3a5;
}

span#redemption {
	text-shadow: 0px 0px white;
	background-color: #dff5c4;
}

span#expiration {
	background-color: #ffe2d3;
}

span#offer {
	background-color: #efd3c0;
}

span#need {
	background-color: #faee9a;
}

span#request {
	background-color: #f6f0c8;
}


div#tweet{

	background-color:#e1f5ff;
	padding:10;
	margin:10;

}

/* TEXT */

a {
	text-decoration:none;
	color: black;
}

a.tag, span#tag {
    border-bottom: 1px dotted #000000;
}

a.tag2 {
    color:gray;
    border-bottom: 1px dotted gray;
}

h3#printer {
	color:grey;
	line-height: 2em;
}


/* LISTS */

li {

	list-style-type: none;
	font-size: 12px;
}

/* FOOTER */

p.footer {
	color:gray;
	text-align:right;
	font-size: 12px;
}